* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #3a3a44;
  // padding-top: 70px;
}


a{
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #c3defb;
  font-size: 5vmax;
  font-family: 'Permanent Marker', cursive;
}

h2 {
  text-align: center;
  //   text-decoration:underline ($color-principal) 2px solid ;
  color: white;
  //   padding: 16px;
  padding-top: 85px;
  font-size: 35px;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 16px;
  padding-bottom: 16px;
  text-align: center;
  letter-spacing: 0.5px;
  color:  ($color-principal);
  text-transform: capitalize;
  width: 270px;
  font-family: 'Roboto', sans-serif;
}

h4 {
  text-align: center;
  font-weight: 200;
  color: white;
  padding:-1px 25px 0 25px;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
}

h5 {
  color: white;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

hr {
  margin: 1rem 0;
  color: inherit;

  border: 0;
  opacity: 0.25;
}
hr.divider {
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  background: ($color-principal);
  opacity: 1;
}

p{
  font-family: 'Roboto', sans-serif;
}
