/*PORFOLIO*/
.porfolio {

  p {
    
    width: 100%;
    margin: 0 auto;
}
  .porfolio_contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;

    .contenedor {
      // contenedor padre
      position: relative;

      width: 250px;
      height: 250px;
      overflow: hidden;
      border-radius: 6px;
      cursor: pointer;

      // border: solid red 1px;
      // contenedor padre
    }

    .capa {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      position: relative;
      text-align: center;
      bottom: -121px;
      width: 100%;
      height: 130px;
      background: rgba(8, 8, 8, 0.603);
      transition: all 500ms ease-out;
      // opacity: 0;
      // visibility: hidden;

      text-align: center;

    
     
      
      a {
        color: white;
        padding-left: 5px;
      }

      .contLinkItem a:hover {
        color: rgb(24, 24, 24);
      }

      .contLinkPort {
        display: flex;
        justify-content: center;
        gap: 10px;
      }
      .contLinkItem {
        background: rgba(133, 131, 131, 0.562);
        border-radius: 5px;
        width: 100%;
        padding: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .contLinkItem:hover {
        background: ($color-principal);
        transition: 0.3s;
      }
    }

    .cardPorfolio_img_card01 {
      background: url(../img/tododulcemary.jpg);
      background-size: cover;
      width: 100%;
      height: 100%;
      transition: all 500ms ease-out;

      //  contenedor  img
    }

    .cardPorfolio_img_card02 {
      //  contenedor  img
      background: url(../img/Paula.png);
      background-size: cover;
      width: 100%;
      height: 100%;
      transition: all 500ms ease-out;

      //  contenedor  img
    }
  }

  .desc_proyecto {
    h3 {
      font-size: 20px;
      text-transform: uppercase;
      width: max-content;
      text-align: center;
      width: 100%;
      letter-spacing: 1px;
    }

    width: 89%;
    text-align: center;
    color: white;
    line-height: 25px;
  }
}

/*FIN PORFOLIO*/

@media (min-width: 810px) {
  .porfolio {
    .porfolio_contenedor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 70px;
      padding: 50px;
    }

    .desc_proyecto {
      width: 85%;
      text-align: center;
      color: white;
      line-height: 25px;
      padding-right: 143px;
      padding-left: 161px;
    }
  }
  .btn {
    display: block;
  }
}

@media (min-width: 1280px) {
  .porfolio {
    margin-top: 100px;

   

    .desc_proyecto {
      width: 104%;

      color: white;
      line-height: 25px;
      font-size: 15px;
      letter-spacing: 1px;
      padding-right: 0;
      padding-left: 0;
      text-align: left;
    }

    .porfolio_contenedor {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 50px;
      padding: 85px;


      

      .contenedor {
        position: relative;
        width: 115%;

        overflow: hidden;
        border-radius: 6px;
        cursor: pointer;
        
      }

      .capa {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: relative;
        text-align: center;
        bottom: -100%;
        width: 100%;
        height: 250px;
        background: rgba(8, 8, 8, 0.603);
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;

        text-align: center;

        p {
          font-size: 10px;
        }
        a {
          font-size: 10px;
        }

        .contLinkPort {
          display: flex;
          justify-content: center;
          gap: 10px;
        }
        .contLinkItem {
          background: rgba(133, 131, 131, 0.562);
          border-radius: 3px;
          width: 100%;
          padding: 3%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .contenedor figure:hover > .capa {
        bottom: 0;
        visibility: visible;
        opacity: 1;
      }

      .cardPorfolio_img_card01 {
        //  contenedor  img
        background: url(../img/tododulcemary.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out;

        //  contenedor  img
      }

      .cardPorfolio_img_card02 {
        //  contenedor  img
        background: url(../img/Paula.png);
        background-size: cover;
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out;

        //  contenedor  img
      }
    }

    .imgGaleria {
      -webkit-transition: all 0.9s ease;
      -moz-transition: all 0.9s ease;
      -o-transition: all 0.9s ease;
      -ms-transition: all 0.9s ease;
      width: 100%;
      object-fit: cover;
    }

    .imgGaleria:hover {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.3);
    }
  }
  .btn {
    display: none;
  }
}
